<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>794672439263-35ej3h3baugr63e3d91sjvg1v8df1qq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794672439263-35ej3h3baugr63e3d91sjvg1v8df1qq8</string>
	<key>API_KEY</key>
	<string>AIzaSyBml2OlN5Vf7at-0eAgjm9T4qvnK02SwG8</string>
	<key>GCM_SENDER_ID</key>
	<string>794672439263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dawbrack.com.MvvmDemoApp</string>
	<key>PROJECT_ID</key>
	<string>mvvmdemo-2f708</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmdemo-2f708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794672439263:ios:2253cbc85c8e1ffe</string>
	<key>DATABASE_URL</key>
	<string>https://mvvmdemo-2f708.firebaseio.com</string>
</dict>
</plist>